<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/dash.all.debug.js}"></script>
    <title>Title</title>
</head>
<body>
<div th:if="${#strings.isEmpty(item)}">
    <p id = "noInput">Nebyla zadána žádná adresa!</p>
</div>
<div id="videoBox" th:if="${!#strings.isEmpty(item)}">
    <video class = "content" data-dashjs-player autoplay="true" th:src="${item}" controls></video>
</div>


</body>
</html>